/* h1 {
  font-family: fantasy;
  font-size: 20px;

} */

button {
  background-color: navy;
  color: white;
}

input {
  height:100px;
  font-size:15pt;
}

.textarea {
  background-color: ivory;
  border-style:  groove;
}

body {
  background-color: beige;
}

.del {
  float: right;
}


.todo {
  height: 20%;
  width: 100px;
  background-color: pink;
  background-size: contain;
  font-style: oblique;
}


.topnav {
  background-color: silver;
  color: white;
}

.topnav a:link {
  padding: 30px;
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

.topnav a.active {
  background-color: violet;
  color: white;
}

.topnav a:hover {
  background-color: navy;
  color: silver;
}


canvas {
  background-color: silver;
}
